Hello, I'm Adrian
I'm a programmer.

I believe in:
- expirement
- agile development
- open source
- web technologies are trending

my interests are:
- full stack engineering
    - specifically with web technologies
    - apis, databases(mongodb & redis)
    - client frameworks, dom libraries
    - server hosting(vps, PAAS)
- node.js
    - JavaScript is the language of the web!
    - Performance + Scalability
    - Code re-use: client-side, server-side
    - Strong passionate community

weapon of choice:
- vim + sublime text 2
- iterm2 + zsh
- git
- unix