<!--
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=468092519876338";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
-->

<div class="row-fluid">
    <div class="span7">
        <center>
            <img src="http://www.gravatar.com/avatar/{{github.gravatar_id}}?s=120" class="img-circle" width="120px" />
            <h2>Adrian Lee</h2>

            <hr/>

            <div class="row-fluid">
                <div class="span6">
                    <i class="icon-envelope"></i>
                    <a href="mailto:adrian.lee@mail.mcgill.ca">adrian.lee@mail.mcgill.ca</a>
                </div>
                <div class="span6">
                    <i class="icon-file"></i><a href="/Adrian Lee Resume 3.pdf">Latest R&#233;sum&#233;</a>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <img src="/img/github.png" /><a href="http://github.com/adrianlee">github/adrianlee</a>
                </div>
                <div class="span6">
                    <i class="icon-briefcase"></i>
                    <a href="http://www.linkedin.com/in/adrianzlee">LinkedIn</a>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span6">
                    <i class="icon-pencil"></i>
                    <a href="http://blog.adrianlee.ca/">Lab Notes (blog)</a>
                </div>
            </div>
        </center>

        <hr/>
        <p>I am completing my B.Eng in Computer Engineering at <a href="http://www.mcgill.ca">McGill University</a> and will be graduating in May 2013. My fourth year courses are geared towards Software.<p>

        <p>I spent about a year and a half at Research In Motion, building the <a href="https://developer.blackberry.com/html5/">BlackBerry WebWorks</a> SDK which leverages Web technologies to create applications for BlackBerry. Kind of like <a href="http://phonegap.com/">PhoneGap</a> but for the BlackBerry. Infact, PhoneGap for BlackBerry is mostly built on top of the WebWorks <a href="https://developer.blackberry.com/html5/api/">API</a>. WebWorks is under active development and is an <a href="https://github.com/blackberry/BB10-WebWorks-Framework">open source</a> <a href="https://github.com/blackberry/BB10-Webworks-Packager">project</a> on GitHub.</p>

        <p>Prior to RIM, I was the Web Designer & Developer for <a href="http://ssmu.mcgill.ca">Students' Society of McGill University</a>, a student union representing all undergraduate students at McGill University.</p>

        <hr/>
        <p class="lead lead1">About me</p>
        I love web.

        <!--
        I believe in:
        - expirement
        - agile development
        - open source
        - web technologies are trending
        -->

        <dl class="dl-horizontal">
            <dt>My interests:</dt>
            <dd><li>full stack engineering w/ web technologies</li></dd>
            <dd><li>node.js</li></dd>
            <dd><li>building awesome robust APIs</li></dd>
            <dd><li>trending databases (e.g. MongoDB & Redis)</li></dd>
            <dd><li>javascript client frameworks, DOM libraries (e.g. Backbone.js & JQuery)</li></dd>
            <dd><li>server hosting & cloud solutions</li></dd>
            <dd><li>startups!</li></dd>
        </dl>

        <!--
        <dl class="dl-horizontal">
            <dt>&#x2665; Node.js</dt>
            <dd><li>Javascript is the language of the web!</li></dd>
            <dd><li>Performance + Scalability</li></dd>
            <dd><li>Code re-use: client-side, server-side</li></dd>
            <dd><li>Strong passionate community</li></dd>
        </dl>
        -->


        <!--
        <dl class="dl-horizontal">
            <dt>Weapon of<br/>choice:</dt>
            <dd><li>vim + sublime text 2</li></dd>
            <dd><li>iterm2 + zsh</li></dd>
            <dd><li>git</li></dd>
            <dd><li>unix</li></dd>
        </dl>
        -->


        <hr/>

        <p class="lead lead1">Recent Projects</p>
        <p><small>All projects listed in the last 12 months:</small></p>


        <caption><strong>Current</strong></caption>
        <p>
            <ul>
                <li><a href="https://github.com/tenproject">The Engineering Network, a campus-wide digital signage platform</a></li>
                <li><a href="https://github.com/adrianlee/rate-my-course">Course Rating System</a></li>
            </ul>
        </p>
        </br>
        <caption><strong>Past</strong></caption>
        <p>
            <ul>
                <li><a href="https://developer.blackberry.com/html5/">BlackBerry WebWorks SDK</a></li>
                <li><a href="https://github.com/adrianlee/web-crawler-parallelization">Distributed & Parallelized Web Crawler via Message Passing</a></li>
                <li><a href="https://github.com/adrianlee/hksn">Hong Kong Student Network</a></li>
                <li>SPDY Protocol Performance Analysis</li>
                <li>MEMS-controlled Theremin - RTOS on a STM32F4 Discovery Board</li>
            </ul>
        </p>
        </br>
        <caption><strong>Coding Competitions</strong></caption>
        <ul>
            <li><a href="https://github.com/adrianlee/GCA3">Great Canadian Appathon 3 - 48 Hours - Retro Theme - JavaScript HTML5 Game</a>
            <li><a href="https://github.com/adrianlee/codejam2012">McGill Code Jam 3 - Morgan Stanley - Low-latency Algorithmic Trading Application</a>
        </ul>

        <hr/>
        <p class="lead lead1">Courses</p>
        <ul>
            <li>Operating Systems <span class="label">ECSE 427</span></li>
            <li>Parallel Computing <span class="label">ECSE 420</span></li>
            <li>Software Validation <span class="label">ECSE 429</span></li>
            <li>Microprocessor Systems <span class="label">ECSE 426</span></li>
            <li>Design Project <span class="label">ECSE 474 & 475</span></li>
            <li>Human-Computer Interaction <span class="label">ECSE 424</span></li>
            <li>Telecom & Computer Networks <span class="label">ECSE 414</span></li>
            <li>Software Engineering Practice <span class="label">ECSE 428</span></li>
            <li>Computer Organization and Arch. <span class="label">ECSE 425</span></li>
        </ul>

        <hr/>

        <!--
        <p class="lead lead1">Contact</p>
        <address>
          <strong>Email</strong>
          <a href="mailto:adrian.lee@mail.mcgill.ca">adrian.lee@mail.mcgill.ca</a>
        </address>

        <div class="fb-comments" data-href="http://adrianlee.ca" data-num-posts="5" data-width="500"></div>
        -->
    </div>
</div>