<!--
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=468092519876338";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
-->

<div class="container">
    <div class="row-fluid">
        <div class="span7">
            <div class="alert fade in">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>Thanks for visiting!</strong> This page is constantly updating. Check back for updates :)
            </div>
            <center>
                <img src="http://www.gravatar.com/avatar/{{github.gravatar_id}}?s=120" class="img-circle" width="120px" />
                <h2>Adrian Lee</h2>

                <hr/>

                <div class="row-fluid">
                    <div class="span4">
                        <i class="icon-envelope"></i>
                        <a href="mailto:adrian.lee@mail.mcgill.ca"><small>adrian.lee@mail.mcgill.ca</small></a>
                    </div>
                    <div class="span4">
                        <i class="icon-file"></i><a href="/Adrian Lee Resume.pdf"><small>Latest R&#233;sum&#233;</small></a>
                    </div>
                    <div class="span4">
                        <img src="/img/github.png" /><a href="http://github.com/adrianlee">adrianlee</a>
                    </div>

                </div>

            </center>

            <hr/>
            <p>I am completing my B.Eng in Computer Engineering at <a href="http://www.mcgill.ca">McGill University</a> and will be graduating in May 2013. My fourth year courses are geared towards Software Engineering.<p>

            <p>I spent about a year and a half at RIM, building the <a href="https://developer.blackberry.com/html5/">BlackBerry WebWorks</a> SDK which leverages Web technologies to create applications for BlackBerry. Kind of like <a href="http://phonegap.com/">PhoneGap</a> but for the BlackBerry. Infact, PhoneGap for BlackBerry is mostly built on top of the WebWorks <a href="https://developer.blackberry.com/html5/api/">API</a>. WebWorks is under active development and is an <a href="https://github.com/blackberry/BB10-WebWorks-Framework">open source project</a> on GitHub.</p>

            <hr/>
            <p class="lead lead1">About me</p>
            I love to code.

            <!--
            I believe in:
            - expirement
            - agile development
            - open source
            - web technologies are trending
            -->

            <dl class="dl-horizontal">
                <dt>My interests:</dt>
                <dd><li>full stack engineering w/ web technologies</li></dd>
                <dd><li>building awesome robust APIs, trending databases (e.g. MongoDB & Redis)</li></dd>
                <dd><li>javascript client frameworks, DOM libraries (e.g. Backbone.js & JQuery)</li></dd>
                <dd><li>server hosting solutions (e.g VPS, PAAS)</li></dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>&#x2665; Node.js</dt>
                <dd><li>Javascript is the language of the web!</li></dd>
                <dd><li>Performance + Scalability</li></dd>
                <dd><li>Code re-use: client-side, server-side</li></dd>
                <dd><li>Strong passionate community</li></dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>Weapon of<br/>choice:</dt>
                <dd><li>vim + sublime text 2</li></dd>
                <dd><li>iterm2 + zsh</li></dd>
                <dd><li>git</li></dd>
                <dd><li>unix</li></dd>
            </dl>

            <hr/>
            <p class="lead lead2">Courses</p>
            <ul>
                <li>Telecom & Computer Networks <span class="label">ECSE414</span></li>
                    <ul><li>Project: SPDY Protocol</li></ul>
                <li>Parallel Computing <span class="label">ECSE420</span></li>
                    <ul><li>Project: Parallelized Web Crawler w/ Node.js & Redis</li></ul>
                <li>Human-Computer Interaction <span class="label">ECSE424</span></li>
                <li>Computer Organization and Arch <span class="label">ECSE425</span></li>
                <li>Microprocessor Systems <span class="label">ECSE426</span></li>
                <li>Operating Systems <span class="label">ECSE427</span></li>
                <li>Software Validation <span class="label">ECSE429</span></li>
                <li>Design Project <span class="label">ECSE 474 & 475</span></li>
                    <ul><li>The Engineering Network - Campus-wide advertising platform</li></ul>
            </ul>

            <hr/>

            <!--
            <p class="lead lead3 ">Contact</p>
            <address>
              <strong>Email</strong>
              <a href="mailto:adrian.lee@mail.mcgill.ca">adrian.lee@mail.mcgill.ca</a>
            </address>

            <div class="fb-comments" data-href="http://adrianlee.ca" data-num-posts="5" data-width="500"></div>
            -->
        </div>
    </div>
</div>
